.hero_section {
    background-color: #e8f4fa ;
    padding: 78px 500px 334px 500px;
    text-align: center;
    gap: 22px;
}
.hero_section h2 {
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
}
.hero_section h2 span {
    color: var(--mainBlue);
}
.hero_section p {
    font-family: Poppins;
font-size: 18px;
font-weight: 400;
line-height: 31.5px;
text-align: center;
color: #696969;
}
.hero_picture {
    background-color: white;
    padding: 31px 32px 31px 30px;
    border-radius: 99%;
}
.application_section {
    position: relative;
    margin-top: -260px;
    margin-left: 118px;
    margin-right: 118px;
    background-color: white;
    padding: 64px 82px 84px 62px;
    gap: 100px;
    box-shadow: 0px 4px 114px 0px rgba(0, 0, 0, 0.09);
}
.app_bg_picture {
    position: absolute;
    right: 140px;
    top: -60px;
}
.application_line {
    gap: 82px;
}
.img_bg_div {
   width: 91px; 
   height: 90px;
   padding: 25px;
   border-radius: 20px;
}
.app_info_div {
    gap: 40px ;
}
.app_title {
font-size: 25px;
font-weight: 500;
line-height: 44.48px;
letter-spacing: 0.01em;
}
.app_text {
font-size: 16px;
font-weight: 400;
line-height: 28.46px;
letter-spacing: 0.01em;
text-align: left;
color: #797979;
}
.illustration_section {
    padding: 100px 20px 158px 120px ;
}
.illustration_left {
    gap: 56px;
}
.illustration_left h3 {
    font-size: 30px;
    font-weight: 600;
    line-height: 51px;
    text-align: left;
}
.illustration_left h3 span {
    color: var(--mainBlue);
}
.illustration_left p {
font-size: 16px;
font-weight: 400;
line-height: 28.8px;
color: #545454;
}
.illustration_left button {
    color: var(--mainBlue);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 32.69px;
    text-align: left;
    padding: 10px 50px;
    border: 1px solid var(--mainBlue);
    border-radius: 10px;
    background-color: white;
    width: max-content;
}
.illustration_right {
    margin-left: -100px;
}
.info_section {
    padding: 130px 178px;
    background-color: var(--mainBlue);
    color: white;
}
.info_text h4 {
font-size: 65px;
font-weight: 600;
line-height: 115.64px;
letter-spacing: 0.01em;
text-align: left;
}
.info_text p {
font-size: 16px;
font-weight: 400;
line-height: 28.46px;
letter-spacing: 0.01em;
text-align: left;
}
.info_text {
    width: max-content;
    gap: 160px;
}
.pictures img:nth-child(1) {
    position: absolute;
    top: -100px;
    left: 100px;
}
.pictures img:nth-child(2) {
    position: absolute;
    top: -50px;
    right: 140px;
}
.pictures img:nth-child(3) {
    position: absolute;
    bottom: -20px;
    left: 0px;
}
.pictures img:nth-child(4) {
    position: absolute;
    bottom: -50px;
    left: 300px;
}
.pictures img:nth-child(5) {
    position: absolute;
    top: -60px;
    right: 160px;
}
.latest_section {
    padding: 94px 120px 0px 120px ;
    gap: 64px;
}
.latest_bottom {
    gap: 84px ;
}
.latest_section h5 {
  font-size: 36px;
  font-weight: 500;
  line-height: 64.04px;
  letter-spacing: 0.01em;
}
.cardstitle {
  font-size: 23px;
  font-weight: 600;
  line-height: 40.92px;
  letter-spacing: 0.01em;
  text-align: left;
}
.cardstext {
  font-size: 16px;
  font-weight: 400;
  line-height: 33.74px;
  letter-spacing: 0.01em;
}
.cards {
    gap: 40px;
    width: 33%;
}
.cards img {
    width: 100%;
}
